.DS_Store
.env*
.next
.pnp
.pnp.js
.sentryclirc
.turbo
.vercel
.visdeps
.vscode
*.log
*.pem
*.tsbuildinfo
build
coverage
next-env.d.ts
node_modules
out
playwright-report
playwright/.cache/
test-results/
tests/downloads/

!.env.example

certificates
