[submodule "chain-registry"]
path = chain-registry
url = https://github.com/cosmos/chain-registry.git
[submodule "initia-registry"]
	path = initia-registry
	url = https://github.com/initia-labs/initia-registry
