@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --eureka-border: conic-gradient(from 90deg at 50% 50%, #49D6DD 0deg, #FF663C 120.6000030040741deg, #D466FF 251.99999570846558deg, #49D6DD 360deg);
}

[data-logo="skip-go"] {
    display: none !important;
}

.widget-container {
    padding: 0 10px;
    width: 500px;
  }
  
@media screen and (min-height: 800px) {
    .widget-container {
        position: absolute;
        top: 50%;
        transform: translateY(-185px);
    }
}
  
@media screen and (max-width: 500px) {
    .widget-container {
        width: 100vw;
    }
}