@tailwind base;
@tailwind components;
@tailwind utilities;

.number-input-arrows-hide::-webkit-outer-spin-button,
.number-input-arrows-hide::-webkit-inner-spin-button,
.number-input-arrows-hide {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.DialogContent[data-state="open"] {
  animation: fadeIn 300ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

.animate-banner-rotate {
  animation: banner-rotate 10s linear infinite;
}

@keyframes banner-rotate {
  from {
    transform: translateX(-975px);
  }
  to {
    transform: translateX(-142px);
  }
}
