@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.widget-container {
    width: 500px;
    @media screen and (max-width: 500px) /* Mobile */ {
        width: 100vw;
      }
}